/** @format */

@import "../../vars.css";

.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3.8rem;
	z-index: 2;
	margin-inline: auto;
	padding-inline: 10%;
	max-width: 1400px;
}

.logo {
	font-size: 1.875rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--color-text);
	font-family: var(--font-roboto);
	transition: color 0.3s ease;
}

.logo:hover {
	color: var(--color-primary);
}

.links {
	display: flex;
}

.linklist {
	display: flex;
	list-style: none;
	gap: 2.9rem;
}

.linklist a {
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--color-text);
	transition: color 0.3s ease;
}

.linklist a:hover {
	color: var(--color-primary);
}

.linkBtn {
	display: none;
}

@media screen and (max-width: 830px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem 0;
	}

	.links {
		position: absolute;
		right: 0;
		top: 2rem;
		margin-right: 10%;
		flex-direction: column;
		align-items: flex-end;
		gap: 0.7rem;
		z-index: 3;
	}

	.linkBtn {
		display: block;
		cursor: pointer;
		width: 40px;
		height: 40px;
	}

	.linklist {
		display: none;
		flex-direction: column;
		align-items: center;
		gap: 0.8rem;
		border-radius: 10px;
		background: rgb(25, 55, 109);
		background: linear-gradient(
			0deg,
			rgba(25, 55, 109, 0.2) 0%,
			rgba(25, 55, 109, 1) 100%
		);
		padding: 1.5rem 2rem;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
		transition: opacity 0.3s ease, transform 0.3s ease;
		opacity: 0;
		transform: translateY(-10px);
		pointer-events: none;
	}

	.linklist a:hover {
		color: var(--color-primary);
		font-size: 1.25rem;
	}

	.active {
		display: flex;
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
		z-index: 1;
	}
}
